.filter-box {
  margin: 20px 0px;
}

.filter-label {
  font-size: 24px;
}

.filter-input {
  background-color: #eadbc8;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 6px;
  margin-left: 15px;
}
