.login-form {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form-list {
  border: 2px solid #803d3b;
  border-radius: 30px;
  padding: 110px;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  list-style-type: none;
}

.login-input {
  background-color: #eadbc8;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 20px;
  font-size: 1rem;
  margin: -10px 0px;
}

.login-input:focus {
  background-color: #803d3b;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.login-form-label {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 30px;
}

.login-btn {
  background-color: #eadbc8;
  color: #0d291f;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 450px;
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.login-btn:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  background-color: #803d3b;
}
